.sliders{
    background-color: #f4f5fa;
    padding-bottom: 60px;
    .slidertxt{
   align-items: center;    
   text-align: center;
    padding-top: 80px;
    h5{
        padding-top: 10px;
    }
    p{
        font-weight: 650;
        font-size: 2rem;
    }
    span{
        font-weight: 450;
    }
}
}