.price{
    background-color: #f4f5fa ;
    margin-top: 150px;
    padding-bottom: 100px;
    .pricetxt{
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            width: 30px;
            padding-bottom: 10px;
        }
        p{
            font-weight: 650;
            font-size: 1.8rem;
        }
        span{
            max-width: 520px;
            text-align: center;
        }
    }
    .box{
        justify-content: center;
        display: flex;
        padding-top: 70px;
    }
    .container{
        padding-top: 60px;
        .col-xl-3{
            h3{
                padding-top: 50px;
                margin-left: 20px;
                color: #544f5a;
            }
            border-radius: 10px;
            margin-left: 80px;
            background-color: white;
        }
        .list{
            h5{
                color: #544f5a;
            }
            img{
                margin-top: 0px;
            }
        }
        .listdown{
            display: flex;
            justify-content: space-between;
            span{
                background-color: #eee6ff !important;
                color: #9055fd !important;
                border-radius: 25px;
                padding: 11px;
                font-weight: 640;
            }
            p{
                color: #544f5a;
                margin-top: 10px;
                font-weight: 640;
            }
        }
        .listbutton{
            margin-bottom: 40px;
            padding-top: 25px;
            align-items: center;
            text-align: center;
            button{
                width: 90%;
                border-radius: 4px;
                padding: 10px;
                font-weight: 640;
                color: #9055fd;
                border-color: #c8aafe;
                background: rgba(0,0,0,0);
            }
        }
        img{
            margin-top: -50px;
            margin-left: 20px;
        }
        .cont1{
            span{
                color: #544f5a;
                font-size: 3rem;
                font-weight: 650;
                margin-left: 20px;
            }
            h6{
                color: #544f5a;
                margin-top: 30px;
            }
            p{
                margin-top: 29px;
            }
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}