.useful{
    margin-top: 300px;
    margin-left: 650px;
    span{
        font-weight: 640;
        font-size: 1.2rem;
        margin-left: 10px;
    }
    .h5{
        display: flex;
        h4{
            padding-top: 20px;
            margin-left: -150px;
            font-weight: 650;
        }
        p{
            padding-top: 20px;
            font-weight: 450;
            font-size: 1.5rem;
            margin-left: 10px;
        }
    }
    h5{
        color: #9055fd;
        margin-left: -250px;
    }
}
.project{
    .container{
        padding-top: 100px;
        margin-left: 150px;
        img{
            margin-left: 120px;
            border-radius: 50%;
            padding: 5px;
            border: 4px solid rgba(144,85,253,.2);
            height: 18%;
            width: 18%;
            object-fit: cover;
        }
        h4{
            margin-top: 25px;
            margin-left: 50px;
            color: #544f5a;
        }
        p{
            text-align: center;
            max-width: 300px;
            color: #9c869f;
        }
        .features4{
            h4{
                margin-left: 100px;
            }
        }
        .features3{
            h4{
                margin-left: 100px;
            }
        }
        .features1{
            h4{
                margin-left: 80px;
            }
        }
    }
}