.trial{
    background-color: #eee6ff;
    h3{
        padding-top: 60px;
        font-weight: 640;
        color: #9055fd !important;
    }
    p{
        font-weight: 640;
        padding-bottom: 20px;
        color: #89868d !important;
    }
    button{
        color: #fff;
        background-color: #9055fd;
        font-weight: 640;
        font-size: 1.2rem;
        padding: 7px;
        width: 300px;
        border-radius: 6px;
        border: 1px solid #9055fd;
    }
}