.marks{
    margin-top: -60px;
    background-color: #f4f5fa ;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
    img{
        margin-left: 60px;
        width: 100px;
        object-fit: cover;
    }
}