.pricing{
    background-image: url("https://demos.themeselection.com/materio-bootstrap-html-admin-template/assets/img/front-pages/backgrounds/hero-bg.png");
    padding-bottom: 80px;
    .pricingplans{
        padding-top: 40px;
        text-align: center;
        h2{
            font-weight: 500;
            line-height: 1.1;
            color: #544f5a;
        }
        h6{
            margin: 0 auto;
            color: #b4b2b7;
            max-width: 550px;
        }
    }
    .container{
        
        .col-xl-4{
            background-color: #fff;
            border-radius: 8px;
            border: 1px solid rgb(182, 178, 178);
            img{
                padding-top: 30px;
            }

            .img1{
                img{
                    width: 50px;
                }
            }
            .img2{
                img{
                    width: 25px;
                }
            }
            .img3{
                img{
                    width: 42px;
                }
            }
            h5{
                color: #89868d;
                font-size: 2rem;
                padding-top: 20px;
            }
            p{
                color: #89868d;
                font-size: 1.1rem;
            }
            label{
            color: #89868d;
            }
            span{
                font-size: 3rem;
                font-weight: 640;
                color: #9055fd;
            }
            sup{
                color: #89868d;
                font-size: 1.5rem;
            }
            li{
                padding-top: 10px;
                color: #89868d;
                list-style: circle;
                text-align: left;
                font-size: 1.2rem;
            }
            .leftbtn{
                padding-bottom: 30px;
                padding-top: 30px;
                button{
                    width: 90%;
                    padding: 7px;
                    font-weight: 640;
                    font-size: 1.2rem;
                    color: #56ca00;
                    border: 1px solid #abe580 ;
                    background: rgba(255, 255, 255, 0);
                    border-radius: 7px;
                }
            }
        }
        padding-top: 100px;
        text-align: center;
    }
}