.table{
  padding-bottom: 70px;
  padding-top: 100px;
  h2{
    color: #544f5a;
    font-size: 2.2rem;
  }
  p{
    color: #544f5a;
    padding-bottom: 40px;
  }
  button{
    color: #fff;
    background-color: #9055fd;
    border: 1px solid #9055fd;
    font-weight: 640;
    border-radius: 7px;
    padding: 7px;
    width: 180px;
  }
 
    .tabletxt{
        text-align: center;
    }
    table{
        margin: 0 auto;
        width: 80%;
        border-radius: 8px;
        border: 1px solid #e7e7e8;
        span{
            display: flex;
            color: #b4b2b7;
            font-weight: 500;
            font-size: 0.8rem;
        }
      td{
        margin-left: 20px;
        font-size: 1.1rem;
        color: #89868d;
      }
      
    }
    th:nth-child(4){
        background: #ebeaea7e;
    }
    td:nth-child(4) {
        background: #ebeaea7e;
      }
}